//basic styles

body {
    margin: 0;
    color: $baseTextColor;
}

h1 {
    font-family: $headerFont;
}

p {
    font-family: $textFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
}
// /basic styles